footer img {
  height: 200px;
  box-shadow: 0px 0px 5px #000000;
  margin: 10px 5px;
  transition: transform 0.5s;
}

.hidden {
  display: none !important;
}

footer img:hover {
  transform: scale(1.2);
}
.btn {
  background-color: white;
  border: 2px solid #044389;
  color: black;
}

.btn:hover {
  background-color: #044389;
  color: white;
  cursor: pointer;
}

/* Cube - Loading */

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  display: inline-block;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;

  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  animation-delay: 0.2s;
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
